In [1]:
import pandas as pd
import numpy as np

In [2]:
nba = pd.read_csv('nba_2013.csv')

In [9]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [38]:
nba.shape

(481, 31)

In [56]:
nba.dropna(inplace=True)

In [57]:
nba.columns.values

array(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg',
       'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.',
       'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk',
       'tov', 'pf', 'pts', 'season', 'season_end'], dtype=object)

In [58]:
nba.shape

(403, 31)

In [13]:
# Use K-NN Regressor
# Find neighbors by using all the numeric columns in the dataset to generate similarity scores.
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor

In [59]:
# The columns that we will be making predictions with.
x_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p','x3pa','x3p.','x2p', 'x2pa','x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']

In [60]:
# The column that we are predicting (target variable)
y_column = ["pts"]

In [61]:
#Pick relevant columns
X = nba[x_columns].values
Y = nba[y_column].values

In [62]:
#split data set into train and test set
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [83]:
# Create the knn model
# Use 10 neighbors, inverse-distance as weights
# Algo can use {‘auto’, ‘ball_tree’, ‘kd_tree’, ‘brute’}
# p=2 means Euclidean distance
knn = KNeighborsRegressor(n_neighbors=10,weights='distance',algorithm='auto',p=2)

In [84]:
# Fit the model on the training data.
knn.fit(X_train, Y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=10, p=2,
          weights='distance')

In [85]:
# Make point predictions on the test set using the fit model.
predictions = knn.predict(X_test)

In [86]:
from sklearn.metrics import mean_squared_error

In [87]:
#Compute error using MSE
mean_squared_error(Y_test,predictions)

5703.906685957297